.main-footer {
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
    justify-content: center;
    background: whitesmoke;
    border-top: 1px solid black;
    font-size: smaller;
}

.footer-item {
    margin: 10px 30px;
}

#address:link, #address:visited, address:active {
    color: black;
    text-decoration: none;
}

#address:hover {
    opacity: .5;
}

#footer-phone:link, #footer-phone:visited, #footer-phone:active {
    color: black;
    text-decoration: none;
}

#footer-phone:hover {
    opacity: .5;
    cursor: pointer;
}

#copyright {
    font-style: italic;
}

@media all and (max-width: 410px) {
    .main-footer {
        display: none;
    }
}